<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.intelligentcontrolplatform.bus.mapper.PowerDevNameplateMapper">
    <select id="getPowerDevNameplates" resultType="com.axy.intelligentcontrolplatform.bus.entity.PowerDevNameplate" parameterType="com.axy.intelligentcontrolplatform.bus.requestParam.PowerDevNameplateParam">
        SELECT
            n.id,
            n.`name`,
            n.`value`,
            n.model_id modelId,
            model.`name` modelName,
            manufacturer.`name` manufacturerName,
            type.`name` typeName
        FROM
            bus_power_dev_nameplate n
            LEFT JOIN bus_power_dev_model model ON n.model_id = model.id
            LEFT JOIN bus_power_dev_manufacturer manufacturer ON model.manufacturer_id = manufacturer.id
            LEFT JOIN bus_power_dev_type type ON model.type_id = type.id
         <where>
             <if test="id != null">
                 and n.id = #{id}
             </if>
             <if test="name != null and name != ''">
                 and n.`name` like concat(concat('%',#{name}),'%')
             </if>
             <if test="value != null and value != ''">
                 and n.`value` like concat(concat('%',#{value}),'%')
             </if>
             <if test="modelId != null">
                 and n.model_id = #{modelId}
             </if>
             <if test="modelName != null and modelName != ''">
                 and model.`name` like concat(concat('%',#{modelName}),'%')
             </if>
             <if test="typeName != null and typeName != ''">
                 and type.`name` like concat(concat('%',#{typeName}),'%')
             </if>
             <if test="manufacturerName != null and manufacturerName != ''">
                 and manufacturer.`name` like concat(concat('%',#{manufacturerName}),'%')
             </if>
         </where>
    </select>

    <select id="getPowerDevNameplatesCount" resultType="int" parameterType="com.axy.intelligentcontrolplatform.bus.requestParam.PowerDevNameplateParam">
        SELECT
       count(0)
        FROM
        bus_power_dev_nameplate n
        LEFT JOIN bus_power_dev_model model ON n.model_id = model.id
        LEFT JOIN bus_power_dev_manufacturer manufacturer ON model.manufacturer_id = manufacturer.id
        LEFT JOIN bus_power_dev_type type ON model.type_id = type.id
        <where>
            <if test="id != null">
                and n.id = #{id}
            </if>
            <if test="name != null and name != ''">
                and n.`name` like concat(concat('%',#{name}),'%')
            </if>
            <if test="value != null and value != ''">
                and n.`value` like concat(concat('%',#{value}),'%')
            </if>
            <if test="modelId != null">
                and n.model_id = #{modelId}
            </if>
            <if test="modelName != null and modelName != ''">
                and model.`name` like concat(concat('%',#{modelName}),'%')
            </if>
            <if test="typeName != null and typeName != ''">
                and type.`name` like concat(concat('%',#{typeName}),'%')
            </if>
            <if test="manufacturerName != null and manufacturerName != ''">
                and manufacturer.`name` like concat(concat('%',#{manufacturerName}),'%')
            </if>
        </where>
    </select>
</mapper>
