<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.intelligentcontrolplatform.standing.mapper.TSbZnycBjfjMapper">

    <select id="getPartsAccessories"
            resultType="com.axy.intelligentcontrolplatform.standing.entity.TSbZnycBjfj">
        SELECT
        t.*,
        t1.sccjmc sccjName,
        t2.sblx sblxName
        FROM
        t_sb_znyc_bjfj t
        LEFT JOIN t_dw_bzzx_sccj t1 ON t.sccj = t1.sccjbm
        LEFT JOIN t_dw_bzzx_sbfl t2 ON t.sblx = t2.sblxbm
        <where>
            <if test="objId != null and objId != '' ">
                and t.obj_id= #{objId}
            </if>
            <if test="sbbm != null and sbbm != '' ">
                and t.sbbm= #{sbbm}
            </if>
            <if test="sbmc != null and sbmc != '' ">
                and t.sbmc like concat(concat('%',#{sbmc}),'%')
            </if>
        </where>
    </select>
    <select id="getPartsAccessoriesCount" resultType="java.lang.Integer">
        SELECT
        count(0)
        FROM
        t_sb_znyc_bjfj t
        LEFT JOIN t_dw_bzzx_sccj t1 ON t.sccj = t1.sccjbm
        LEFT JOIN t_dw_bzzx_sbfl t2 ON t.sblx = t2.sblxbm
        <where>
            <if test="objId != null and objId != '' ">
                and t.obj_id= #{objId}
            </if>
            <if test="sbbm != null and sbbm != '' ">
                and t.sbbm= #{sbbm}
            </if>
            <if test="sbmc != null and sbmc != '' ">
                and t.sbmc like concat(concat('%',#{sbmc}),'%')
            </if>
        </where>
    </select>
    <select id="selectPartsAccessories"
            resultType="com.axy.intelligentcontrolplatform.standing.entity.TSbZnycBjfj">
        SELECT
        t.obj_id,
        t.sbmc
        FROM
        t_sb_znyc_bjfj t
        <where>
            t.obj_id is not null and t.sbmc is not null
            <if test="objId != null and objId != '' ">
                and t.obj_id= #{objId}
            </if>
            <if test="sbmc != null and sbmc != '' ">
                and t.sbmc like concat(concat('%',#{sbmc}),'%')
            </if>
        </where>
    </select>
</mapper>
