<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axy.intelligentcontrolplatform.experiment.mapper.TZhZtjxSyzyMapper">

    <select id="getSpeciality" resultType="com.axy.intelligentcontrolplatform.experiment.entity.TZhZtjxSyzy">
        SELECT
            *
        FROM
            t_zh_ztjx_syzy t
        <where>
            <if test="objId != null and objId != '' ">
                and t.obj_id= #{objId}
            </if>
            <if test="mc != null and mc != '' ">
                and t.mc like concat(concat('%',#{mc}),'%')
            </if>
        </where>
    </select>
    <select id="getSpecialityCount" resultType="java.lang.Integer">
        SELECT
            count(0)
        FROM
            t_zh_ztjx_syzy t
        <where>
            <if test="objId != null and objId != '' ">
                and t.obj_id= #{objId}
            </if>
            <if test="mc != null and mc != '' ">
                and t.mc like concat(concat('%',#{mc}),'%')
            </if>
        </where>
    </select>
</mapper>
